/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --max-width: 500px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-container {
  width: 100%;
  display: flex;
}

.logo {
  max-width: var(--max-width);
  margin: auto;
}

.filter-title {
  text-align: center;
}

.filter-container {
  margin: 20px 0px;
  width: 100%;
  max-width: var(--max-width);
}

.table {
  width: 700px;
  margin-bottom: 20px;
}

.empty-text {
  margin-top: 5px;
  font-weight: bold;
}

.select-n-per-page {
  width: 250px;
}

.bottom {
  margin-bottom: 20px;
}